{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Analyzer</h1>
    <p class="lead">This is Cloud Computing project 2.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sentiment Analysis</h2>
        <p>
            We collect the tweets from all capital cities of Australia and calculate the percentage of
            positive, negative and neutral tweets.
        </p>
    </div>
    <div class="col-md-4">
        <h2>AURIN Data Analysis</h2>
        <p>We calculate the average RAI of the capital cities of Australia.</p>
    </div>
</div>

{% endblock %}
